
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/iron-icons/maps-icons.html">
<link rel="import" href="../bower_components/paper-datatable-api/paper-datatable-api-column.html">
<link rel="import" href="../bower_components/paper-datatable-api/paper-datatable-api.html">
<link rel="import" href="../bower_components/paper-datatable-api/paper-datatable-api-footer.html">
<link rel="import" href="../bower_components/google-map/google-map.html">
<link rel="import" href="../bower_components/google-map/google-map-marker.html">
<link rel="import" href="../bower_components/nvd3-elements/nvd3-elements.html">
<link rel="import" href="../bower_components/nvd3-elements/nvd3-multi-bar.html">
<link rel="import" href="../bower_components/nvd3-elements/nvd3-pie.html">

<link rel="import" href="shared-styles.html">

<dom-module id="my-view2">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      google-map {
    height: 500px;
  }
  .graphingSection{
    display: flex;
    }
    .graphingSection .card{flex-grow: 5;}
    </style>

<div class="card">
      
<h1>Order Received</h1>
<paper-datatable-api data="[[ dataForTable ]]" sortable  >
  
  <paper-datatable-api-column draggable-column header="From" property="from">
    <template>
      <span>{{value}}</span>
    </template>
  </paper-datatable-api-column>

  <paper-datatable-api-column header="To" property="to">
    <template>
      <span>{{value}}</span>
    </template>
  </paper-datatable-api-column>

  <paper-datatable-api-column header="Sell" property="sell">
    <template>
      <span>{{value}}</span>
    </template>
  </paper-datatable-api-column>
  <paper-datatable-api-column header="Buy" property="buy">
    <template>
      <span>{{value}}</span>
    </template>
  </paper-datatable-api-column>
  <paper-datatable-api-column header="Rate" property="rate">
    <template>
      <span>{{value}}</span>
    </template>
  </paper-datatable-api-column>
  <paper-datatable-api-column header="Fee" property="fee">
    <template>
      <span>{{value}}</span>
    </template>
  </paper-datatable-api-column>
  <paper-datatable-api-column header="Country" property="country">
    <template>
      <span>{{value}}</span>
    </template>
  </paper-datatable-api-column>
  <paper-datatable-api-column header="Time" property="time">
    <template>
      <span>{{value}}</span>
    </template>
  </paper-datatable-api-column>

</paper-datatable-api>
</div>
 
 <!--realtime orders-->
 <div class="card">
   <h1>Real Time Orders</h1>
<div class = "graphingSection">

<!--<nvd3-multi-bar
data="[[realTimeData]]"
height="100"
width="400"
auto-resize
show-legend>
</nvd3-multi-bar>-->
 <div class="card">
   <h3>Orders</h3>
<nvd3-pie
data="[[dataForPieChart]]"
height="300"
width="500"
auto-resize
show-legend></nvd3-pie></div>
 <div class="card">

<!--<nvd3-multi-bar
data="[[realTimeData]]"
height="100"
width="400"
auto-resize
show-legend>
</nvd3-multi-bar>-->
<h3>Number Of Transactions : </h3>
<h3>Total Amount Transacted : </h3>

 </div>
</div>
</div>

 <!--Map-->
 <div class="card">
   <h1>Orders </h1>
   {{dataForMap}}
 <google-map disable-default-ui zoom="2" fit-to-markers>
    <template is="dom-repeat" items = {{countryList}}>
      <google-map-marker latitude="{{item.lattitude}}" longitude="{{item.longitude}}"   title="{{item.country}}"></google-map-marker>
    </template>   
     
  </google-map>

 </div>
 <iron-ajax auto
    url="http://10.117.189.62:8080/CodeRidersCurrencyExchange/transaction/list"
    handle-as="json"
    method="GET"
    on-response="handleResponse"></iron-ajax>

     <iron-ajax id="realTimeIronAjax"
    url="http://10.117.189.62:8080/CodeRidersCurrencyExchange/transaction/stats"
    handle-as="json"
    method="GET"
    on-response="loadRealTimeData"></iron-ajax>

  </template>

  <script>
    class MyView2 extends Polymer.Element {
      static get is() { return 'my-view2'; }
      getDataForTable(){
        this.$.ajaxelement.generateRequest();
        //realTimeIronAjax
      }
     
      pushDataToMap(){

           for(var i=0;i<this.dataForTable.length;i++){

             for(var j=0;j<this.countryList.length;j++){

             if(this.dataForTable[i].country == this.countryList[j].code){
               
               this.dataForMap.push({
                  code:this.countryList[j].code,
                  lattitude:this.countryList[j].lattitude,
                  longitude:this.countryList[j].longitude
                 });

                this.dataForPieChart.push();

             }
             }
           }

      }

      static get properties() {
        return {
          dataForTable:{
            type:Array,            
            reflectToAttribute: true,notify:true
            // value:[{from:"akhil",to:"naga",country:"IN",}]
          }
          ,
          countryList:{
            type:Array,            
            reflectToAttribute: true,notify:true,
            value:[
              {code:"IN",lattitude:"20.593684",longitude:"78.962880",country:"India"},
              {code:"US",lattitude:"37.090240",longitude:"-95.712891",country:"United States of America"},
              {code:"GB",lattitude:"55.378051",longitude:"-3.435973",country:"United Kingdom"},
              {code:"AU",lattitude:"-25.274398",longitude:"133.775136",country:"Australia"},
            
            ]
          },
          dataForMap:{
            type:Array,           
            reflectToAttribute: true,notify:true
           
          },         
          dataForPieChart:{
            type:Array,            
            reflectToAttribute: true,
            value:[
             
              {  "label": "Australia",  "value": 15 }, 
              {  "label": "United States",  "value": 15 }, 
              {  "label": "Spain",  "value": 30 } ,
              {  "label": "India",  "value": 20 } 
            ]
            },
             realTimeData:{
            type:Array,            
            reflectToAttribute: true,
            value:[
              {  "label": "Spain",  "value": 20 },  
              {  "label": "Australia",  "value": 15 }, 
              {  "label": "United States",  "value": 15 }, 
              {  "label": "Spain",  "value": 30 } ,
              {  "label": "India",  "value": 20 } 
            ]
            },
            dataForReal:{
            type:Object,            
            reflectToAttribute: true           
            }
            
            /*realTimeData*/
        }
        
        }

        handleResponse(data){
          this.dataForTable = data.detail.response;
          
        //realTimeIronAjax
          setInterval(this.$.realTimeIronAjax.generateRequest(),2000);
        }
        loadRealTimeData(data){
          this.dataForReal = data.detail.response;
        }
    }

    window.customElements.define(MyView2.is, MyView2);
  </script>
</dom-module>
