<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/paper-input/paper-input.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/iron-form/iron-form.html">
<link rel="import" href="../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-view1">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .card.small{
        width: 600px;
        margin: 20px auto;
      }
      .RegButton{
        margin-left: 0;
        margin-top : 10px;
      }
    </style>

    <div class="card small">
      <iron-form id="myForm">
        <form action="order">
          <h1 style="text-align:center;">ORDER EXCHANGE</h1>
          <div class="form-group">
            <div class="form-field input required">
              <paper-input label="User Id *" id="userid" name="userid" required auto-validate error-message="userID is required"></paper-input>
            </div>
            <div class="form-field input required">
              <paper-input label="From Currency *" id="from" required auto-validate error-message="From currency is required"></paper-input>
            </div>
            <div class="form-field input required">
              <paper-input label="To Currency *" id="to" required auto-validate error-message="To Currency is required"></paper-input>
            </div>
            <div class="form-field input required">
              <paper-input label="To Sell *" id="sell" required auto-validate error-message="To sell Amount is required"></paper-input>
            </div>
            <div class="form-field input required">
              <paper-input label="Origin Country *" id="country" required auto-validate error-message="Origin Country is required"></paper-input>
            </div>
            <!-- <button on-click="sendData" style="margin-top: 10px;">Exchange</button> -->
            <!-- <paper-button raised class="indigo" on-click="sendData">Exchange</paper-button> -->
            <paper-button class="RegButton" id="submitbtn"  on-click="sendData" style="background: #f90;
            color: #fff;">Order</paper-button>
        </form>
      </iron-form>
    </div>
    <iron-ajax
      id="ajaxelement"
      url="http://10.117.189.62:8080/CodeRidersCurrencyExchange/order/consume"
      handle-as="json"
      method="POST"
      body='{{sendRequest}}'
      content-type="application/json"
      on-response="handleResponse"
    debounce-duration="300"></iron-ajax>
  </template>

  <script>
    class MyView1 extends Polymer.Element {
      static get is() { return 'my-view1'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'demo-element'
          },
          sendRequest : {
            type : Object
          }
        };
      }
      sendData(){
        if(this.$.myForm.validate()){
          this.saveOrder();
        }
      }
      saveOrder(){
        var myDate = new Date();
        this.sendRequest = {
          "userid":this.$.userid.value,
          "from":this.$.from.value,
          "to":this.$.to.value,
          "sell":this.$.sell.value,
          "time" : myDate,
          "country":this.$.country.value,
        }
        this.$.ajaxelement.generateRequest();
      }
      handleResponse(data){
        // if(data.details.response){
        //   window.history.pushState({}, null, "/view2");
        //   window.dispatchEvent(new CustomEvent("location-changed"));
        // }
        window.history.pushState({}, null, "/view2");
        window.dispatchEvent(new CustomEvent("location-changed"));
      }
    }
    window.customElements.define(MyView1.is, MyView1);
  </script>
</dom-module>
